<h1><%= @guest.name %></h1>

<h3>"Episodes featured"</h3>
<ol>

<% @guest.appearances.order(rating: :desc).each do |appearance| %>

    <%-# Showing all episodes of the existing Guests. -%>
    <li><%=link_to "Episode #{appearance.episode.number} - #{appearance.episode.date.strftime('%B %d, %Y')}", episode_path(appearance.episode.id)%> Rating - <%= appearance.rating %></li>
    
<% end %>
</ol>