<h1>All Episodes</h1>

<ul>
  <% @episodes.each do |episode| %>
    <li><%= link_to "Episode #{episode.number}", episode_path(episode) %><%= " - #{episode.date.strftime("%B %d, %Y")}"%></li>
  <% end %>
</ul>
