<h1>Episode <%= @episode.number %>
<h3><%= @episode.date %></h3>

<h3>Average Rating: <%= @episode.average_rating %></h3>

<ul>
<% @episode.guests.each do |guest| %>
<li><%= link_to guest.name, guest %></li>
<% end %>
</ul>
